@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  font-family: var(--fontmain);
}

main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main div .top-img img {
  width: 100%;
}

main div .tittle {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  top: 0%;
  color: white;
}

main div .tittle h1 {
  font-size: 2rem;
}

main div .tittle h2 {
  font-size: 1.25rem;
}

.section .section-tittle {
  text-align: center;
  padding: 2rem 0rem 0rem 0rem;
}

.section .section-tittle--dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0rem 0rem 2rem 0rem;
}

.section .section-text {
  margin: auto;
  padding: 0rem 2rem 0rem 2rem;
}

.section .section-img {
  margin: auto;
  width: 350px;
  height: 275px;
}

.section .section-img img {
  width: 100%;
  padding: 1rem;
}

.section .section-button {
  text-align: center;
}

.section .section-button a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  margin: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}

.service-container .service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service-container .service-content p {
  color: white;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.clients-container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0rem 2rem 0rem;
}

.clients-container .clients-content {
  width: 150px;
  padding: 1rem .5rem 1rem 0.5rem;
}

.clients-container img {
  width: 100%;
}

.contact-container {
  margin: 2rem 0rem 0rem 0rem;
  background-color: black;
}

.contact-container .contact-tittle h2 {
  text-align: center;
  padding: 2rem 0rem 2rem 0rem;
  color: white;
}

.contact-container .contact-form {
  padding: 4rem;
}

.contact-container .contact-form .row {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
}
/*# sourceMappingURL=styles.css.map */